.main {
    
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(28,28,180,1) 39%, rgba(0,212,255,1) 100%);
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    height: 100vh;
    text-align: center;
    font-family: 'Times New Roman';
    color:white;
}

.bottom{
    position: absolute;
    bottom: 20px; 
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size:large;
    opacity:0;
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay:3s
}

.top {
    min-height: 75px;
    padding: 15px;
    color: white;
    font-family: "Courier New";
    font-size: 30px;
    white-space: pre;
}

.intro{
    opacity:0;
    display:none;
}

.aboutIntro{
    opacity:0;
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay:3s
}

.fadeOut{
    animation: fadeOutAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.fadeIn{
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        display:none;
        opacity: 0;
    }
    100% {
        display: block; 
        opacity: 1;
    }
}

@keyframes fadeOutAnimation {
    0% {
        display:block;
        opacity: 1;
    }
    100% {
        opacity: 0;
        display:none;
    }
}
