.intro{
    opacity:0;
    display:none;
}

.link{
    color:aquamarine;
}

.link:hover{
    color:blueviolet;
}

.image{
    text-align: center;
    display:block;
    margin: 0 auto;
}

.paragraph{
    display:block;
    margin-left: 20%;
    margin-right: 20%;

}